{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/blog_style.css' %}">
</head>
<body>
    <h1 class="center">Blog</h1>
    <div class="write">
        <a href="{% url 'create' %}">새로 만들기</a>
    </div>
    <br>
    {% for blog in blogs.all %}
        <p class="center"><a href="{% url 'detail' blog.id %}">{{blog.title}}</a></p>
    {% endfor %}
    <br>

</body>
</html>
